.n {
	background-color: black;
}

.r {
	background-color: red;
}

.o {
	background-color: orange;
}

.y {
	background-color: yellow;
}

.g {
	background-color: green;
}

.b {
	background-color: blue;
}

.p {
	background-color: purple;
}

.turn {
	float: left;
}

.turn div {
	width: 100px;
	height: 100px;
	border-radius: 10px;
	margin:10px;
	display: inline-block;
	float: left;
}

input {
	clear: both;
	float: left;
}

#log {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}